<div class="performance-container">
  <div id="chart2" echarts [options]="options" theme="macarons" class="performance-chart"></div>
  <div class="performance-calender">
    <div class="width-100">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="AF">All Facilities</mat-button-toggle>
        <mat-button-toggle value="FC">Facility Comaparison</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="width-100">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="AF">Day</mat-button-toggle>
        <mat-button-toggle value="FC">Week</mat-button-toggle>
        <mat-button-toggle value="AF">Month</mat-button-toggle>
        <mat-button-toggle value="FC">Year</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="width-100">
      <ngx-daterangepicker-material
      [autoApply]="true"
      (choosedDate)="choosedDate($event)"
      [singleDatePicker]="singleDatePicker"
      [customRangeDirection]="true"
      [startDate]="selected.startDate"
      [endDate]="selected.endDate">
      </ngx-daterangepicker-material>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
